CREATE DATABASE #GITBUCKET_DB# CHARACTER SET utf8;
 
GRANT ALL ON #GITBUCKET_DB#.* TO '#GITBUCKET_USER#' IDENTIFIED BY '#GITBUCKET_PASS#';
GRANT ALL ON #GITBUCKET_DB#.* TO '#GITBUCKET_USER#'@'localhost' IDENTIFIED BY '#GITBUCKET_PASS#';
 
FLUSH PRIVILEGES;
